{% extends "layout.html" %} {% block content %}
<div class="row">
    <div class="col-md-8" id="map">
        <script>
        var map = L.map('map').setView([37.8, -96], 4);
        var mapboxAccessToken = 'pk.eyJ1Ijoid3ljMDgwNyIsImEiOiI1ZTczM2MwNmU0M2ZlMTU4MjhhNDQyYTY0MDE2ODVmZCJ9.u2QTRbKndfvFzQCheYBMPg';

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxAccessToken, {
            id: 'mapbox.light'
        }).addTo(map);
        L.geoJson(statesData).addTo(map);

        function getColor(d) {
            return d > 100000 ? '#800026' :
                d > 50000 ? '#BD0026' :
                d > 20000 ? '#E31A1C' :
                d > 10000 ? '#FC4E2A' :
                d > 5000 ? '#FD8D3C' :
                d > 1000 ? '#FEB24C' :
                d > 500 ? '#FED976' :
                '#FFEDA0';
        }

        function style(feature) {
            return {
                fillColor: getColor(feature.properties.projects),
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }

        L.geoJson(statesData, {
            style: style
        }).addTo(map);

        // for (i = 0; i < statesData.features.length; i++) {
        // // marker.addTo(map);
        // var label = new L.Label()
        // label.setContent(statesData.features[i].properties.abbr)
        // alert(statesData.features[i].properties.abbr)
        // label.setLatLng(L.multiPolygon(statesData.features[i].geometry.coordinates).getBounds().getCenter())
        // aler t(L.multiPolygon(statesData.features[0].geometry.coordinates).getBounds().getCenter())
        // map.showLabel(label);
        // L.multiPolygon(statesData.features[0].geometry.coordinates).bindLabel('MultiPolygon\'s have labels as well :)').addTo(map);
        // }

        var geojson;

        function highlightFeature(e) {
            var layer = e.target;

            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            if (!L.Browser.ie && !L.Browser.opera) {
                layer.bringToFront();
            }
            info.update(layer.feature.properties);
        }

        function resetHighlight(e) {
            geojson.resetStyle(e.target);
            info.update();
        }

        function ZoomToFeatureAndGetInfo(e) {

            map.fitBounds(e.target.getBounds(), {
                maxZoom: 4
            });
            $.ajax({
                    type: "GET",
                    data: {
                        state: e.target.feature.properties.abbr
                    },
                    url: "/stateInfo"
                })
                .done(function(data, status) {
                    info.display(e.target.feature.properties.name, data)
                })
                // .fail(function(jqXHR, textStatus) {
                //     alert(textStatus);
                // });
            $.ajax({
                    type: "GET",
                    data: {statename: e.target.feature.properties.abbr},
                    url: "/chart"
                }).done(function(data, status){
                   drawChart(data);
                });   
        }

        function onEachFeature(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: ZoomToFeatureAndGetInfo
            });
        }

        geojson = L.geoJson(statesData, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map);

        var info = L.control({
            position: 'topright'
        });

        info.onAdd = function(map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this.update();
            return this._div;
        };

        // method that we will use to update the control based on feature properties passed
        info.update = function(props) {
            this._div.innerHTML = '<h4>State Summary</h4><hr style="margin: 10px;">' + (props ?
                props.name + '<br/>' : 'Click to get Summary');
        };

        info.display = function(state, data) {
            content = '<h4>State Summary</h4><hr style="margin: 10px;">'
            content += '<strong class="text-center">' + state + '</strong></br>'
            content += '<span class="label label-primary">Donation</span> ' + parseInt(data.total_donations, 10) + '</br>'
            content += '<span class="label label-success"> Students</span> ' + data.count_students + '</br>'
            content += '<span class="label label-info"> &nbspDonars&nbsp&nbsp</span> ' + data.count_donars + '</br>'
            content += '<span class="label label-warning"> Projects&nbsp</span> ' + data.count_project + '</br>'
            content += '<span class="label label-danger">Popular Subjects</span></br>'
            for (i = 0; i < data.popular_subjects.length; i++) {
                content += '&nbsp&nbsp•   ' + data.popular_subjects[i][0] + '</br>'
            }
            this._div.innerHTML = content;
        }

        info.addTo(map)

        var legend = L.control({
            position: 'bottomright'
        });

        legend.onAdd = function(map) {

            var div = L.DomUtil.create('div', 'info legend'),
                grades = [0, 500, 1000, 5000, 10000, 20000, 50000, 100000],
                labels = [];

            div.innerHTML = '<b>Number of Projects</b><hr style="margin: 10px;">'
            for (var i = 0; i < grades.length; i++) {
                div.innerHTML +=
                    '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                    grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
            }

            return div;
        };
        legend.addTo(map);

        </script>
    </div>
    <div class="col-md-4" id="chart">
        <script>
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1.1', {
            'packages': ['corechart', 'bar']
        });

        // Set a callback to run when the Google Visualization API is loaded.

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart(jsonData) {
            var raiseData = new google.visualization.DataTable();
            raiseData.addColumn('string', 'Year');
            raiseData.addColumn('number', 'RaisedMoney');
            var raiseObj = JSON.parse(jsonData.raise)
            for (var key in raiseObj) {
                raiseData.addRows([
                    [key, raiseObj[key]]
                ]);
            }

            var areaData = new google.visualization.DataTable();
            areaData.addColumn('string', 'Topping');
            areaData.addColumn('number', 'Slices');
            var areaObj = JSON.parse(jsonData.area)
            for(var key in areaObj) {
                areaData.addRows([
                    [key, areaObj[key]]
                ]);
            }

            // Set chart options
            var raiseOptions = {
                title: 'Raised Money',
                width: 320,
                height: 250,
                legend: {
                    position: 'none'
                },
                chart: {
                    subtitle: 'popularity by percentage'
                },
            };
            // Set chart options
            var areaOptions = {
                'title': 'How Much Pizza You Ate Last Night',
                'width': 320,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.ColumnChart(document.getElementById('raise'));
            chart.draw(raiseData, raiseOptions);
            var chart2 = new google.visualization.PieChart(document.getElementById('area'));
            chart2.draw(areaData, areaOptions);
        }
        google.setOnLoadCallback(drawChart);
        </script>
        <div class="row">
            <div class="col-md-12" id="raise">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="area">
                <script type="text/javascript">
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}